%head
  %meta{charset: "UTF-8"}/
  %title
    =data.page.title
    | Blog of Nathaniel Watts
  /[if lt IE 9]
  <script src="http://elegantthemes.com/preview/Serene/wp-content/themes/Serene/js/html5.js"></script>
  :javascript
    document.documentElement.className = 'js';
  %link#serene-elegant-font-css{href: "http://elegantthemes.com/preview/Serene/wp-content/themes/Serene/css/elegant-font.css?ver=3.6", media: "all", rel: "stylesheet", type: "text/css"}/
  %link#serene-style-css{href: "/stylesheets/theme.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link#serene-fonts-css{href: "http://fonts.googleapis.com/css?family=Raleway:400,200,100,500,700,800,900&subset=latin,latin-ext", media: "all", rel: "stylesheet", type: "text/css"}/
  %link#wp-pagenavi-css{href: "http://elegantthemes.com/preview/Serene/wp-content/plugins/wp-pagenavi/pagenavi-css.css?ver=2.70", media: "all", rel: "stylesheet", type: "text/css"}/
  %script{src: "http://elegantthemes.com/preview/Serene/wp-includes/js/jquery/jquery.js?ver=1.10.2", type: "text/javascript"}
  %script{src: "http://elegantthemes.com/preview/Serene/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1", type: "text/javascript"}
  %link{href: "http://elegantthemes.com/preview/Serene/wp-includes/wlwmanifest.xml", rel: "wlwmanifest", type: "application/wlwmanifest+xml"}/
  %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name: "viewport"}/
  :css
    .meta-post-date, .mejs-audio .mejs-controls .mejs-time-rail .mejs-time-handle, .footer-widget li:before, #mobile_menu ul li:before, #et_active_menu_item, .comment-reply-link, .form-submit input, .et-tags li { background-color: #fbad18; }
    .post-content > header p, .mobile_menu_bar { color: #fbad18; }
    blockquote { border-color: #fbad18; }