%head
  %meta{charset: "UTF-8"}/
  %title
    =data.page.title
    | Blog of Nathaniel Watts
  /[if lt IE 9]
  <script src="/javascripts/html5.js"></script>
  :javascript
    document.documentElement.className = 'js';
  %link#serene-elegant-font-css{href: "/stylesheets/elegant-font.css", media: "all", rel: "stylesheet", type: "text/css"}
  %link#serene-elegant-font-css{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", media: "all", rel: "stylesheet", type: "text/css"}
  %link#serene-style-css{href: "/stylesheets/theme.css", media: "all", rel: "stylesheet", type: "text/css"}
  %link#serene-fonts-css{href: "http://fonts.googleapis.com/css?family=Raleway:400,200,100,500,700,800,900&subset=latin,latin-ext", media: "all", rel: "stylesheet", type: "text/css"}/
  //%link#wp-pagenavi-css{href: "http://elegantthemes.com/preview/Serene/wp-content/plugins/wp-pagenavi/pagenavi-css.css?ver=2.70", media: "all", rel: "stylesheet", type: "text/css"}/
  %script{src: "http://code.jquery.com/jquery-1.10.1.min.js", type: "text/javascript"}
  %script{src: "http://code.jquery.com/jquery-migrate-1.2.1.min.js", type: "text/javascript"}
  %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name: "viewport"}/
  :css
    .meta-post-date, .mejs-audio .mejs-controls .mejs-time-rail .mejs-time-handle, .footer-widget li:before, #mobile_menu ul li:before, #et_active_menu_item, .comment-reply-link, .form-submit input, .et-tags li { background-color: #fbad18; }
    .post-content > header p, .mobile_menu_bar { color: #fbad18; }
    blockquote { border-color: #fbad18; }