%header#main-header.clearfix
  %h1#logo
    %a{href: "/"} Code Happy
  %nav#top-menu
    %ul#menu-menu-1.nav
      %li#menu-item-32.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-32
        %a{href: "http://elegantthemes.com/preview/Serene/"} Home
      %li#menu-item-30.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-30
        %a{href: "http://elegantthemes.com/preview/Serene/category/nature/"} Nature
        %ul.sub-menu
          %li#menu-item-33.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-33
            %a{href: "http://elegantthemes.com/preview/Serene/sample-page/"} Sample Page
          %li#menu-item-34.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-34
            %a{href: "http://elegantthemes.com/preview/Serene/sample-page/"} Sample Page
      %li#menu-item-31.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-31
        %a{href: "http://elegantthemes.com/preview/Serene/sample-page/"} Sample Page
  %ul#et-social-icons
    %li.et-social-icon.et-social-facebook
      %a{href: "#", target: "_blank"}
        %span Facebook
    %li.et-social-icon.et-social-twitter
      %a{href: "#", target: "_blank"}
        %span Twitter
    %li.et-social-icon.et-social-google
      %a{href: "#", target: "_blank"}
        %span Google+
    %li.et-search-form
      %form#searchform.searchform{action: "http://elegantthemes.com/preview/Serene/", method: "get", role: "search"}
        %div
          %label.screen-reader-text{for: "s"} Search for:
          %input#s{name: "s", type: "text", value: ""}/
          %input#searchsubmit{type: "submit", value: "Search"}/
  #et_mobile_nav_menu
    %a.mobile_nav.closed{href: "#"}
      %span Navigation Menu
      %span.icon_menu.mobile_menu_bar