.wp-pagenavi
  %span.pages Page 1 of 2
  %span.current 1
  %a.page.larger{href: "http://elegantthemes.com/preview/Serene/page/2/"} 2
  %a.nextpostslink{href: "http://elegantthemes.com/preview/Serene/page/2/"} »