%link#mediaelement-css{href: "http://elegantthemes.com/preview/Serene/wp-includes/js/mediaelement/mediaelementplayer.min.css?ver=2.13.0", media: "all", rel: "stylesheet", type: "text/css"}/
%link#wp-mediaelement-css{href: "http://elegantthemes.com/preview/Serene/wp-includes/js/mediaelement/wp-mediaelement.css?ver=3.6", media: "all", rel: "stylesheet", type: "text/css"}/
%script{src: "http://elegantthemes.com/preview/Serene/wp-content/themes/Serene/js/superfish.js?ver=1.0", type: "text/javascript"}
%script{src: "http://elegantthemes.com/preview/Serene/wp-content/themes/Serene/js/jquery.fitvids.js?ver=1.0", type: "text/javascript"}
%script{src: "http://elegantthemes.com/preview/Serene/wp-content/themes/Serene/js/jquery.flexslider.js?ver=1.0", type: "text/javascript"}
%script{src: "http://elegantthemes.com/preview/Serene/wp-content/themes/Serene/js/custom.js?ver=1.0", type: "text/javascript"}
:javascript
  /* <![CDATA[ */
  var mejsL10n = {"language":"en-US","strings":{"Close":"Close","Fullscreen":"Fullscreen","Download File":"Download File","Download Video":"Download Video","Play\/Pause":"Play\/Pause","Mute Toggle":"Mute Toggle","None":"None","Turn off Fullscreen":"Turn off Fullscreen","Go Fullscreen":"Go Fullscreen","Unmute":"Unmute","Mute":"Mute","Captions\/Subtitles":"Captions\/Subtitles"}};
  /* ]]> */
%script{src: "http://elegantthemes.com/preview/Serene/wp-includes/js/mediaelement/mediaelement-and-player.min.js?ver=2.13.0", type: "text/javascript"}
:javascript
  /* <![CDATA[ */
  var _wpmejsSettings = {"pluginPath":"\/preview\/Serene\/wp-includes\/js\/mediaelement\/"};
  /* ]]> */
%script{src: "http://elegantthemes.com/preview/Serene/wp-includes/js/mediaelement/wp-mediaelement.js?ver=3.6", type: "text/javascript"}