//
- wrap_layout :layout do
  %section

    .eight.columns
      %h4.post_title
        =current_page.data.title
      / a{:href => "/archive.html"}
      %span.post_date= current_page.date.strftime('%b %e')

      = yield

      .metadata
        / %span
        /   %i.icon-pencil
        /   %a{:href => "archive.html"} Writer
        %span
          %i.icon-time
          = current_page.date.strftime('%b %e')
        %span
          %i.icon-list
          =current_page.data.tags

    %br.clear
