!!!
/[if IE 8]
  <html id="ie8" lang="en-US">
/ [if !(IE 8)  ]><!
%html{lang: "en-US"}
  / <![endif]
  =partial "layouts/head_scripts_styles"
  %body.home.blog
    #container
      =partial "layouts/header"

      =yield

      =partial "layouts/pagination"

      =partial "layouts/footer"

    / #container
    =partial "layouts/scripts_styles"