!!!
%html{lang: "en-US"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Clutterless
    / Meta
    %meta{charset: "UTF-8"}/
    / Responsive stylesheet
    %meta{content: "width=device-width; initial-scale=1.0", name: "viewport"}/
    / IE stylesheet
    /[if lte IE 8] <link rel="stylesheet" type="text/css" href="/stylesheets/ie.css" />
    %link#clutterless-css{href: "/stylesheets/theme.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link#clutterless-mediaqueries-css{href: "/stylesheets/mediaqueries.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link#google-webfonts-nc-css{href: "http://fonts.googleapis.com/css?family=News+Cycle%3A400&ver=3.8", media: "all", rel: "stylesheet", type: "text/css"}/
    %link#google-webfonts-mw-css{href: "http://fonts.googleapis.com/css?family=Merriweather%3A700&ver=3.8", media: "all", rel: "stylesheet", type: "text/css"}/
    %script{src: "/javascripts/jquery.min.js", type: "text/javascript"}
    %script{src: "/javascripts/jquery.fitvids.min.js", type: "text/javascript"}
    %script{src: "/javascripts/clutterless-fitvids.js", type: "text/javascript"}
    %script{src: "/javascripts/css-browser-selector.js", type: "text/javascript"}
    %script{src: "/javascripts/ipad-slider.js", type: "text/javascript"}
    %script{src: "/javascripts/dropdown.js", type: "text/javascript"}
    %link{href: "http://demo.onepagelove.com/clutterless/xmlrpc.php?rsd", rel: "EditURI", title: "RSD", type: "application/rsd+xml"}/
    %link{href: "http://demo.onepagelove.com/clutterless/wp-includes/wlwmanifest.xml", rel: "wlwmanifest", type: "application/wlwmanifest+xml"}/
    %link{href: "http://opldemos.wpengine.netdna-cdn.com/clutterless/wp-content/uploads/sites/2/2013/03/rob-32.png", rel: "shortcut icon"}/
    / Embedded WP Customizer Code Start
    :css
      body
      {background: #F8F8F8;}
      #sidebar-name .sidebar-name-wrap,#sidebar-inner
      {background: #18BCEB !important;}
      #sidebar,#sidebar a,#sidebar-inner #search #search-form #search-field
      {color:#FFFFFF;}
      #content
      {color: ; text-shadow: 0 1px 0 #FFFFFF;}
      #content .post-title h2, #content .post-title h2 a
      {color: #333333;}
      #content  .post-content h2,#content  .post-content h3,#content  .post-content h4
      {color: #444444;}
      #content  .post-date, #content  .post-date a, #return a
      {color: #999999;}
      #content .post-content a
      {color: #444444;  border-bottom: 1px dotted #444444;}
      #content .post-content a:hover
      {color: #18BCEB;  border-bottom: 1px dotted #18BCEB;}
    / Embedded WP Customizer Code End
    :css
      .recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}
  %body.home.blog
    = render 'layouts/_sidebar'
    #ipad-click
      #content
        #post
          =yield
      .clear
      :javascript
        /* <![CDATA[ */
        var pbd_alp = {"startPage":"1","maxPages":"3","nextLink":"http:\/\/demo.onepagelove.com\/clutterless\/page\/2\/"};
        /* ]]> */
      %script{src: "/javascripts/load-posts.js", type: "text/javascript"}
      %script{src: "/javascripts/jquery.ba-hashchange.min.js", type: "text/javascript"}
      :javascript
        /* <![CDATA[ */
        var clutterless = {"template_url":"http:\/\/demo.onepagelove.com\/clutterless\/wp-content\/themes\/clutterless","file_url":"index.php"};
        /* ]]> */
      %script{src: "/javascripts/ajax.js?ver=3.8", type: "text/javascript"}
      / Stats starts, add your stats below this line
      / Stats end, add your stats above this line