.post
  .post-date
    %a{href: article.url}
      = article.date.strftime('%e %b %Y')
    in
    - article.tags.each do |tag|
      %a{href: "asdf"}
        = tag
  / .post-date
  .post-title
    %h2
      %a{href: article.url}
        = article.title
  / .post-title
  .post-content
    %p
      = article.body
  / .post-content
/ /.post