---
pageable: false
per_page: 12
---

%section
  .eight.columns
    %p.post_intro A little about me.
    %p My name is Nathaniel Watts, and I'm a web developer currently participating in a 6 month intensive Ruby on Rails program in Denver, CO. It's pretty much the jam, and you should check it out: <a href="http://gschool.it" title="gSchool">gSchool</a>
    %p I'll be writing and reflecting on this space, and hopefully adding some contributing thoughts to the development community.
    %p Thanks for stopping by!
    .avatar-wrap
      %img.avatar{:src => "/images/avatar.png"}

  %br.clear