---
title: Welcome to Middleman Foundation
pageable: true
per_page: 10
---

- page_articles.each_with_index do |article, i|
  %section
    .eight.columns
      %h4.post_title
        %a{:href => article.url}= article.title
      %a{:href => "/archive"}
        %span.post_date= article.date.strftime('%b %e')
      %p= article.summary
      %blockquote Blockquote here
      %a{:href => article.url}
        %button.float_right READ MORE
    %br.clear/

/ .row
/   .six.columns
/     - if prev_page
/       .panel
/         %p
/           = link_to 'Previous page', prev_page

/   .six.columns
/     - if paginate
/       - if next_page
/         .panel
/           %p= link_to 'Next page', next_page